<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-6 d-none d-md-flex bg-image"></div>

    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h3 class="display-4">LOGIN PLEASE</h3>
              <p class="text-muted mb-4">
                login to see the hotest place for your car
              </p>
              <form
                #loginForm="ngForm"
                (ngSubmit)="onSubmit(loginForm)"
                novalidate
              >
                <div class="form-group mb-3">
                  <input
                    type="text"
                    name="text"
                    class="form-control"
                    placeholder="enter name"
                    required
                    text
                    ngModel
                    #text="ngModel"
                  />
                  <small
                    *ngIf="!text?.valid && (text?.dirty || text?.touched)"
                    style="color: red"
                    >Invalid name</small
                  >
                </div>
                <div class="form-group mb-3">
                  <small> ( 8 Characters , ^[a-z A-Z]+$)</small>
                  <label for="inputPassword">Password</label>
                  <input
                    type="password"
                    name="password"
                    minlength="3"
                    class="form-control"
                    placeholder="Password"
                    required
                    ngModel
                    #password="ngModel"
                  />
                </div>
                <small
                  *ngIf="
                    !password?.valid && (password?.dirty || password?.touched)
                  "
                  style="color: red"
                  >Invalid Password</small
                >
                <div class="custom-control custom-checkbox mb-3">
                  <input
                    id="customCheck1"
                    type="checkbox"
                    checked
                    class="custom-control-input"
                    ngModel
                  />
                  <label for="customCheck1" class="custom-control-label"
                    >Remember password</label
                  >
                </div>
                <button
                  class="btn btn-lg btn-primary btn-block text-uppercase"
                  [disabled]="!loginForm.valid"
                  type="submit"
                >
                  Sign in
                </button>
                <button
                  type="submit"
                  routerLink="/Register"
                  class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"
                >
                  register
                </button>
                <div
                  class="text-center d-flex justify-content-between mt-4"
                ></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
