<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <img
    style="width: 70px"
    src="https://www.dcpweb.co.uk/userfiles/gallery/file/portfolio_logo_pcfix_content.jpg"
    routerLink="/home"
  />

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/show" routerLinkActive="active-link"
          >Laptops</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart" routerLinkActive="active-link"
          >Cart</a
        >
      </li>
    </ul>
    <a class="top-right" routerLink="/login" routerLinkActive="active-link"
      >LogOut</a
    >
  </div>
</nav>
